.calendrier {
  display: block;
  border: black 5px;
  background-color: antiquewhite;
}
.calendarcontainer {
display: flex;
border: 3px black;
padding: 10px;
}
.month{
    padding: 10px;
    display: table;
    grid-template-columns: repeat(7, 1fr);
}
.daysOfWeek {
    display: table-row;
}
.semaine{
  display: grid;
  grid-template-columns: repeat(7, 30px);
  text-align: center;
  font-family: 'Incosolata' , monospace;

}
.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  text-align: center;
  font-family: 'Incosolata' , monospace;
}

.titremois {
  background-color: rgb(223, 161, 86);
  padding: 5px;
  font-family: 'Incosolata' , monospace;
}
.année {
  padding: 3px;
  margin-left: 14px;
  font-family: 'Incosolata' , monospace;
  font-size: 1.3em;


}
.months{
  display: flex;
  padding: 15px;
  margin: auto;

}
.fete {
  background-color: lightslategray;
  padding: 5px;
  color: antiquewhite;
}